@charset "utf-8";
/* 2015.01.05 R.Yoshikawa */
/**-----------------------------------------------
LESS
-----------------------------------------------**/
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mplusrounded1c/v15/VdGBAYIAV6gnpUpoWwNkYvrugw9RuM1y55sK.ttf) format('truetype');
}
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mplusrounded1c/v15/VdGBAYIAV6gnpUpoWwNkYvrugw9RuM064ZsK.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zAkA.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xK3dSBYKcSV-LCoeQqfX1RYOo3aPw.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rAkA.ttf) format('truetype');
}
.font_Awesome {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
}
.a_text a {
  color: #000000;
  text-decoration: none;
}
.a_text a:hover {
  opacity: 0.6;
}
.btn_common {
  display: inline-block;
  position: relative;
  padding: 12px 60px 12px 50px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  background-color: #0abab5;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
@media screen and (max-width: 480px) {
  .btn_common {
    padding: 12px 40px 12px 30px;
  }
}
.btn_common:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  width: 9px;
  height: 9px;
  margin: auto;
  border-top: 2px solid #FFF;
  border-right: 2px solid #FFF;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn_common:hover {
  opacity: 0.6;
}
.text_webkit {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.img_frame {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  aspect-ratio: 1;
}
.img_frame:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0.8;
  width: calc(100% - 14px);
  height: calc(100% - 14px);
  border: 7px solid #C6E5E1;
}
.img_frame img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.text_left {
  text-align: left !important;
}
.text_right {
  text-align: right !important;
}
/**-----------------------------------------------
基本
-----------------------------------------------**/
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}
body {
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
  font-style: normal;
  font-weight: 300;
  margin: 0;
  padding: 0;
  min-width: 1100px;
  height: 100vh;
}
@media screen and (max-width: 1024px) {
  body {
    min-width: initial;
  }
}
img {
  max-width: 100%;
  height: auto;
}
/**-----------------------------------------------
リンク色
-----------------------------------------------**/
a {
  /*リンクされた文字*/
  color: #003399;
  font-style: normal;
  text-decoration: underline;
  transition: 0.3s;
}
a:link {
  /*未訪問のリンク*/
  color: #003399;
  font-style: normal;
  text-decoration: underline;
}
a:visited {
  /*訪問後のリンク*/
  color: #003399;
  text-decoration: underline;
}
a:hover {
  /*マウスをのせたとき*/
  font-style: normal;
  text-decoration: none;
  opacity: 0.6;
}
a:active {
  /*クリック中*/
  text-decoration: none;
}
a[target="_blank"]:after {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 0.8rem;
  content: "\f35d";
  margin: 0 5px;
}
/**-----------------------------------------------
汎用
-----------------------------------------------**/
/* フォントサイズ */
.parts_fs_xxl {
  font-size: 2rem;
}
.parts_fs_xl {
  font-size: 1.75rem;
}
.parts_fs_lg {
  font-size: 1.25rem;
}
.parts_fs_md {
  font-size: 1.125rem;
}
.parts_fs_xs {
  font-size: 0.812rem;
}
.parts_fc_sub {
  color: #003399;
}
.parts_fc_red {
  color: red;
}
.parts_ff {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.parts_fontb {
  font-weight: bold;
}
/* 見出し */
.page_title {
  text-align: center;
  color: #003399;
  font-size: 2.25rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin-bottom: 40px;
}
@media screen and (max-width: 480px) {
  .page_title {
    font-size: 2rem;
    margin-bottom: 30px;
  }
}
/* 枠線 */
.parts_border {
  padding: 10px;
  background-color: #FFF;
  border: 1px solid #000000;
}
/* 補足 */
.parts_info {
  font-size: 0.812rem;
  color: #B3B3B3;
}
/* 横並び */
.parts_flex {
  display: flex;
  flex-wrap: wrap;
}
.parts_flex_2 {
  display: flex;
  flex-wrap: wrap;
}
.parts_flex_2 > * {
  width: calc(50% - 10px);
  margin-right: 20px;
}
.parts_flex_2 > *:nth-child(2n) {
  margin-right: 0;
}
.parts_flex_2 > *:nth-child(n+3) {
  margin-top: 20px;
}
.parts_flex_3 {
  display: flex;
  flex-wrap: wrap;
}
.parts_flex_3 > * {
  width: calc((100% / 3) - 6px);
  margin-right: 9px;
}
.parts_flex_3 > *:nth-child(3n) {
  margin-right: 0;
}
.parts_flex_3 > *:nth-child(n+4) {
  margin-top: 20px;
}
/* ボタン */
.btn a {
  color: #000000;
  text-decoration: none;
}
.btn a:hover {
  opacity: 0.6;
}
.btn a {
  display: inline-block;
  position: relative;
  padding: 12px 60px 12px 50px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  background-color: #0abab5;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
@media screen and (max-width: 480px) {
  .btn a {
    padding: 12px 40px 12px 30px;
  }
}
.btn a:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  width: 9px;
  height: 9px;
  margin: auto;
  border-top: 2px solid #FFF;
  border-right: 2px solid #FFF;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn a:hover {
  opacity: 0.6;
}
/* ボタン(フォーム) */
.btn_button {
  display: flex;
  justify-content: center;
}
.btn_button button {
  display: inline-block;
  position: relative;
  padding: 12px 60px 12px 50px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  background-color: #0abab5;
  border-radius: 50px;
  transition: 0.3s;
  border: none;
  cursor: pointer;
  line-height: 1.2;
  margin-right: 20px;
  font-size: 1.125rem;
  background-color: #003399;
  border: 1px solid #003399;
}
@media screen and (max-width: 480px) {
  .btn_button button {
    padding: 12px 40px 12px 30px;
  }
}
.btn_button button:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  width: 9px;
  height: 9px;
  margin: auto;
  border-top: 2px solid #FFF;
  border-right: 2px solid #FFF;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn_button button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 1024px) {
  .btn_button button {
    -webkit-appearance: none;
  }
}
.btn_button button:last-child {
  margin-right: 0;
}
.btn_button button.prev {
  color: #003399;
  background-color: #FFF;
  padding: 12px 50px 12px 60px;
}
@media screen and (max-width: 480px) {
  .btn_button button.prev {
    padding: 12px 30px 12px 40px;
  }
}
.btn_button button.prev:before {
  right: auto;
  left: 20px;
  border-color: #003399;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.btn_button.delete button {
  border-color: #777;
  background-color: #777;
}
.btn_button.delete button:before {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  content: "\f00d";
  border: none;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* テーブル */
.table_style {
  border-collapse: collapse;
  /* width:100%はみ出し防止 */
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  /* テーブルのはみ出し防止 */
  word-break: break-all;
}
.table_style th {
  padding: 10px;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
  border: 1px solid #B2B2B2;
  background-color: #BFE8E5;
}
.table_style td {
  padding: 10px;
  vertical-align: middle;
  border: 1px solid #B2B2B2;
  background-color: #FFF;
}
@media screen and (max-width: 480px) {
  .table_style.table_vertical {
    display: block;
  }
  .table_style.table_vertical tbody,
  .table_style.table_vertical tr,
  .table_style.table_vertical th,
  .table_style.table_vertical td {
    display: block;
  }
  .table_style.table_vertical tr:first-child th {
    border-top: 1px solid #B2B2B2;
  }
  .table_style.table_vertical th {
    padding: 10px;
    border-top: none;
    border-bottom: none;
  }
  .table_style.table_vertical td {
    padding: 10px;
  }
}
@media screen and (max-width: 480px) {
  /* 横にスライドさせる */
  .table_scroll .table_style {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}
/* コンテンツスクロール */
.parts_content_scroll {
  overflow-y: scroll;
  padding: 10px;
  height: 150px;
  border: 1px solid #B3B3B3;
  background-color: #FFF;
}
/* ol */
.ol_list {
  margin: 10px 0 10px 30px;
}
.ol_list li {
  list-style-type: decimal;
  line-height: 1.6;
  margin-bottom: 10px;
}
.ol_list li ol,
.ol_list li ul {
  margin-left: 20px;
}
.ol_list li ol li,
.ol_list li ul li {
  margin-bottom: 0;
  font-size: 0.9rem;
}
/* ul */
.ul_list {
  margin: 10px 0 10px 30px;
}
.ul_list li {
  list-style-type: disc;
  line-height: 1.6;
  margin-bottom: 10px;
}
/* dl */
.dl_list {
  margin-bottom: 20px;
}
.dl_list dt {
  color: #0abab5;
  font-size: 1.1rem;
}
.dl_list dd {
  margin: 0 1em;
}
@media screen and (max-width: 480px) {
  .dl_list dd {
    margin: 0 5%;
  }
}
/* インデント */
.parts_indent {
  text-indent: -1em;
  padding-left: 1em;
}
.indent_list li {
  text-indent: -2.5em;
  padding-left: 2.5em;
  margin-bottom: 5px;
}
/* アコーディオン */
.parts_toggle .parts_toggle_btn {
  position: relative;
  padding-right: 30px;
  cursor: pointer;
}
.parts_toggle .parts_toggle_btn:before {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  content: "\f107";
  font-size: 1.2rem;
}
.parts_toggle .parts_toggle_btn.active:before {
  content: "\f106";
}
.parts_toggle .parts_toggle_content {
  display: none;
}
/**-----------------------------------------------
フォーム
-----------------------------------------------**/
input,
select {
  width: 100%;
  padding: 6px;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
  border: 1px solid #666;
  border-radius: 2px;
}
input:read-only,
textarea:read-only,
select:disabled {
  background-color: #ccc;
}
::placeholder {
  color: #999;
}
textarea {
  width: 100%;
  padding: 10px;
  min-height: 120px;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
}
input[type="file"] {
  display: inline-block;
  font-size: 0.875rem;
  border: none;
  background-color: transparent;
}
/* チェックボックス */
.parts_checkbox {
  margin-right: 20px;
}
.parts_checkbox input {
  display: none;
}
.parts_checkbox input:checked + span:after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 7px;
  width: 4px;
  height: 8px;
  transform: rotate(40deg);
  border-bottom: 2px solid #0abab5;
  border-right: 2px solid #0abab5;
}
.parts_checkbox span {
  padding-left: 25px;
  position: relative;
}
.parts_checkbox span:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 2px solid #0abab5;
  background-color: #FFF;
  border-radius: 4px;
}
.checkbox_list {
  display: flex;
  flex-wrap: wrap;
}
.checkbox_list label {
  margin-bottom: 5px;
}
/* ラジオボタン */
.parts_radio {
  margin-right: 20px;
}
.parts_radio input {
  display: none;
}
.parts_radio input:checked + span:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 9px;
  height: 9px;
  background: #0abab5;
  border-radius: 50%;
}
.parts_radio span {
  padding-left: 25px;
  position: relative;
}
.parts_radio span:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 2px solid #0abab5;
  background-color: #FFF;
  border-radius: 50%;
}
/**-----------------------------------------------
ヘッダー
-----------------------------------------------**/
#header {
  display: none;
  line-height: 1.2;
  background-color: #FFF;
}
@media screen and (max-width: 1024px) {
  #header {
    position: fixed;
    z-index: 999;
    width: 100%;
    border-bottom: 5px solid #0abab5;
  }
}
#header .header_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
@media screen and (max-width: 1024px) {
  #header .header_menu {
    height: 80px;
    padding: 0;
    /* --- */
    /* --- */
  }
  #header .header_menu .sp_menu_btn {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    color: #0abab5;
    background-color: #FFF;
  }
  #header .header_menu .sp_menu_btn span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 45px;
    height: 4px;
    transition: all 0.2s;
    transform-origin: 0% 0%;
    transform: translateY(-50%);
    background-color: #0abab5;
    border-radius: 50px;
  }
  #header .header_menu .sp_menu_btn span:nth-child(1) {
    top: 27px;
  }
  #header .header_menu .sp_menu_btn span:nth-child(2) {
    top: 40px;
  }
  #header .header_menu .sp_menu_btn span:nth-child(3) {
    top: 54px;
  }
  #header .header_menu .sp_menu_btn.active span {
    width: 36.77px;
    left: 10px;
  }
  #header .header_menu .sp_menu_btn.active span:nth-child(1) {
    transform: rotate(0.78539816rad) translateY(-50%);
  }
  #header .header_menu .sp_menu_btn.active span:nth-child(2) {
    opacity: 0;
  }
  #header .header_menu .sp_menu_btn.active span:nth-child(3) {
    top: calc(100% - 27px);
    transform: rotate(-0.78539816rad) translateY(-50%);
  }
  #header .header_menu .sp_menu_btn.active small {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  #header .header_menu {
    height: 60px;
    /* --- */
    /* --- */
  }
  #header .header_menu .sp_menu_btn {
    width: 60px;
    height: 60px;
  }
  #header .header_menu .sp_menu_btn span {
    width: 35px;
  }
  #header .header_menu .sp_menu_btn span:nth-child(1) {
    top: 19px;
  }
  #header .header_menu .sp_menu_btn span:nth-child(2) {
    top: 30px;
  }
  #header .header_menu .sp_menu_btn span:nth-child(3) {
    top: 42px;
  }
  #header .header_menu .sp_menu_btn small {
    bottom: 10px;
    font-size: 10px;
  }
  #header .header_menu .sp_menu_btn.active span:nth-child(3) {
    top: calc(100% - 15px);
  }
}
@media screen and (max-width: 1024px) {
  #header .header_menu .logo {
    width: 30vw;
    margin: 0 auto;
  }
}
#header .header_menu .header_link {
  display: flex;
}
@media screen and (max-width: 1024px) {
  #header .header_menu .header_link_list {
    display: none;
  }
}
#header .header_nav {
  background-color: #0abab5;
}
@media screen and (max-width: 1024px) {
  #header .header_nav {
    display: block;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 1000;
    width: 312px;
    height: 100vh;
    transition: all 0.2s;
    transform: translate(-312px);
  }
  #header .header_nav.open {
    transform: translate(0);
    box-shadow: 5px 0px 10px -5px rgba(0, 0, 0, 0.4);
  }
  #header .header_nav .link {
    padding: 20px 0 10px;
    background-color: #FFF;
  }
  #header .header_nav .link .btn_xs {
    margin-bottom: 10px;
  }
  #header .header_nav .link .btn_xs a {
    display: block;
    padding: 15px 0;
    background-color: #003399;
    border-color: #003399;
  }
  #header .header_nav .link .btn_xs.btn_white a {
    color: #003399;
    background-color: #FFF;
  }
  #header .header_nav .link .btn_xs.btn_white a:before {
    border-color: #003399;
  }
  #header .header_nav .link ul {
    padding: 0;
    margin-bottom: 20px;
  }
  #header .header_nav .link ul li {
    border-bottom: 1px solid #003399;
  }
  #header .header_nav .link ul a {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #003399;
    text-align: left;
  }
  #header .header_nav .link ul a:before {
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    content: "\f138";
    font-weight: 600;
    font-size: 0.8rem;
    margin-right: 10px;
  }
  #header .header_nav .link ul span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    text-align: center;
    font-size: 0.687rem;
    background-color: #C1272D;
    border-radius: 100%;
  }
}
@media screen and (max-width: 480px) {
  #header .header_nav {
    top: 60px;
  }
}
#header .header_nav ul {
  display: flex;
  justify-content: space-evenly;
  padding: 18px 0;
}
@media screen and (max-width: 1024px) {
  #header .header_nav ul {
    flex-direction: column;
  }
}
#header .header_nav ul li {
  flex: 1;
  border-left: 1px solid #FFF;
}
@media screen and (max-width: 1024px) {
  #header .header_nav ul li {
    border-left: 0;
    border-bottom: 1px solid #FFF;
  }
}
#header .header_nav ul li:last-child {
  border-right: 1px solid #FFF;
}
@media screen and (max-width: 1024px) {
  #header .header_nav ul li:last-child {
    border-right: 0;
  }
}
#header .header_nav ul a {
  display: block;
  color: #FFF;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}
@media screen and (max-width: 1024px) {
  #header .header_nav ul a {
    padding: 20px 0;
  }
}
.content_padding {
  padding: 80px 0;
}
@media screen and (max-width: 480px) {
  .content_padding {
    padding: 40px 0;
  }
}
/**-----------------------------------------------
フッター
-----------------------------------------------**/
/**-----------------------------------------------
メインエリア
-----------------------------------------------**/
#content {
  line-height: 1.2;
  margin-top: 60px;
  padding-bottom: 100px;
  border-bottom: 2px solid #0abab5;
}
@media screen and (max-width: 1024px) {
  #content {
    padding: 120px 0 100px;
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
  #content {
    padding: 100px 0 80px;
    margin: 0;
  }
}
#content p {
  line-height: 1.4;
}
.section {
  display: block;
  max-width: 1100px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .section {
    width: auto;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}
@media screen and (max-width: 480px) {
  .section {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
}
.section_margin {
  margin-bottom: 80px;
}
/**-----------------------------------------------
トップ
-----------------------------------------------**/
.title {
  font-size: 2.5em;
}
.mv {
  text-align: center;
  padding: 50px 0;
  height: 100vh;
  background: url(../images/mv.JPG) no-repeat 0 0 / cover;
}
@media screen and (max-width: 480px) {
  .mv {
    height: 100vh;
  }
}
.mv .title strong {
  display: block;
  font-size: 2.3vw;
}
.mv .title span {
  display: block;
  font-size: 2vw;
}
/* メニュー */
.top_menu {
  padding: 80px 0;
}
@media screen and (max-width: 480px) {
  .top_menu {
    padding: 40px 0;
  }
}
.top_menu ul {
  display: flex;
  justify-content: space-between;
}
.top_menu ul li {
  position: relative;
}
.top_menu ul a,
.top_menu ul span {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid #0abab5;
}
.top_menu ul small {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/* 会場情報 */
.access {
  padding: 80px 0;
  background-color: #0abab5;
}
@media screen and (max-width: 480px) {
  .access {
    padding: 40px 0;
  }
}
.access .block {
  display: flex;
  flex-wrap: wrap;
}
/* プロフィール */
.profile {
  padding: 80px 0;
}
@media screen and (max-width: 480px) {
  .profile {
    padding: 40px 0;
  }
}
/* 料理/ドリンクメニュー */
.course {
  padding: 80px 0;
}
@media screen and (max-width: 480px) {
  .course {
    padding: 40px 0;
  }
}
/* イベント情報 */
.event {
  padding: 80px 0;
  background-color: #888;
}
@media screen and (max-width: 480px) {
  .event {
    padding: 40px 0;
  }
}
.event .event_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.event .event_content .block {
  width: 45%;
  padding: 20px;
  margin-bottom: 5%;
  background-color: #FFF;
}
.event .event_content .block:nth-child(1) {
  margin-right: 10%;
}
/* 投票結果発表 */
/* クイズに参加 */
/* 二次会 */
/* 写真ダウンロード */
.photo {
  padding: 80px 0;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .photo {
    padding: 40px 0;
  }
}
